.repo/
.vscode/
BUILD
WORKSPACE
art/
bionic/
bootable/
bootstrap.bash
build/
cts/
dalvik/
developers/
development/
device/amlogic/
device/common/
device/generic/
device/google/
device/google_car/
device/linaro/
device/sample/
device/ti/
external/
frameworks/
hardware/
libcore/
libnativehelper/
out/
packages/
pdk/
platform_testing/
prebuilts/
sdk/
system/
test/
toolchain/
tools/
